# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
launch

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Makefile

# Qt
*autogen*
*.ui
ui_*.h
moc_*.cpp
qrc_*.cpp
*.qrc.depends
*.pro.user
*.pro.user.*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
build/
bin/

# OS
.DS_Store
Thumbs.db
